/* Google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

ul {
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #131313;
}


/* 
                                        Header.
=========================================================================================
*/
.all_section_margin {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 45px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav h3 {
    font-size: 3em;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 3em;
}

nav ul li a {
    color: #424242;
    font-size: 1.125em;
    font-weight: 500;
    text-decoration: none;
}

#g3_banner article {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#g3_banner article h3 {
    font-size: 64px;
    font-weight: 700;
}

#g3_banner article p {
    margin: 35px 0;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

#g3_banner article button {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    margin-bottom: 50px;
}


/* 
                                        Quick list section.
=========================================================================================
*/
#quick_list_section {
    padding: 85px 0 130px;
}

.d_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d_flex_div {
    width: 45%;
}

.quik_list_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick_list_right h3 {
    font-size: 45px;
    font-weight: 700;
}

#quick_list {
    color: #727272;
    font-weight: 500;
}

#of_our {
    color: #131313;
}

#features {
    color: #FF900E;
}

.quick_list_right p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin: 1.5em 0 2em;
}

.quick_list_right button {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
}

/* 
                                    Some facts section.
=========================================================================================
*/

.some_facts_top {
    width: 545px;
}

.some_facts_top h3 {
    margin-bottom: .8em;
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.some_facts_top p {
    color: #727272;
    font-size: 1em;
    font-weight: 400;
}

.some_facts_bottom {
    display: flex;
    justify-content: space-around;
    margin: 3em 1em 6em;
}

.some_facts_bottom div {
    width: 18%;
    height: 23%;
    text-align: center;
    border-radius: 1.5em;
    border: 1px solid #FF900E;
    padding: 1.5em 0;
}

.some_facts_bottom div img {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.some_facts_bottom h4 {
    color: #424242;
    font-size: 1.5em;
    font-weight: 600;
    margin: .3em 0;
}

.some_facts_bottom p {
    color: #727272;
    font-size: 1em;
    font-weight: 600;
}




/* 
                                    Our sponsors section.
=========================================================================================
*/
#sponsor_section {
    margin: 80px 0 130px;
}

.sponsor_text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.sponsor_text h3 {
    color: #131313;
    font-size: 3em;
    font-weight: 700;
}

.sponsor_text p {
    color: #727272;
    font-size: 1em;
    font-weight: 400;
    margin: 1.5em 0 3.2em;
}

.sponsor_link {
    width: 100%;
}

.sponsor_link ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.sponsor_link ul li a img {
    width: 6em;
}



/* 
                                        Footer section.
=========================================================================================
*/
footer {
    text-align: center;
    margin-bottom: 13.5em;
}

footer span {
    border-radius: .5em;
    padding: 2.2em 0;
    display: inline-block;
    color: #424242;
    font-size: 1.25em;
    font-weight: 400;
    background-color: #FFF4E7;
    width: 100%;
}




/* 
                                        Responsive CSS.
=========================================================================================
*/
@media screen and (max-width: 576px) {


    /* Header section. */

    header {
        padding: 1em 0;
    }

    nav {
        flex-direction: column;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: .8em 0;
    }

    .all_section_margin {
        width: 99%;
        margin: 0 auto;
    }

    nav h3 {
        font-size: 2em;
        margin-bottom: .3em;
    }

    #g3_banner article h3 {
        font-size: 2.5em;
    }


    /* Quick list section. */
    #quick_list_section {
        padding: 0;
    }

    .d_flex {
        flex-direction: column;
    }

    .quik_list_left {
        grid-template-columns: 1fr;
        width: 90%;
        margin-bottom: 2em;
    }

    .quick_list_right {
        width: 80%;
    }



    /* Some facts section. */
    #some_facts_section {
        margin: 6em 0;
    }

    .some_facts_top {
        width: 100%;
        text-align: center;
    }

    .some_facts_bottom {
        flex-direction: column;
    }

    .some_facts_bottom div {
        width: 100%;
        margin-bottom: 4em;
    }

    .some_facts_bottom div img {
        height: 70px;
        width: 70px;
    }


    /* Our sponsor section. */
    .sponsor_text {
        width: 95%;
    }

    .sponsor_link {
        display: flex;
        justify-content: center;
    }

    .sponsor_link ul {
        flex-direction: column;
    }

    .sponsor_link ul li {
        margin-bottom: 1.5em;
    }

}









@media screen and (min-width: 576px) and (max-width: 768px) {

    .all_section_margin {
        width: 95%;
    }

    /* Header. */
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: .8em 0;
    }

    /* Quick list section. */
    .d_flex {
        flex-direction: column;
    }

    .quik_list_left {
        margin-bottom: 3em;
    }


    /* Our sponsor section. */
    .sponsor_text {
        width: 95%;
    }

    .sponsor_link {
        display: flex;
        justify-content: center;
    }

    .sponsor_link ul {
        flex-direction: column;
    }

    .sponsor_link ul li {
        margin-bottom: 1.5em;
    }

}